<div class="box" style="min-height:409px;">
    <div class="heads text-center">About</div>
    <div class="detail">
        <p>
            This site only for educational motivation not for political issues and anything else. We analyze that there are so many students pass out from the Navodaya every year. And also placed every department like government sector, private sector etc but they
            are not connect each other. Our motives through this site we connect each other and motivate those students who not able to learn after intermediate. Navodaya like a home in which we enjoy our precious six year time, we do something for our
            brother and sisters who left in the race.
        </p>
        <p>
            In this site include All JNVs, Future perspective, Updates, Suggestions for retrieve more information.
        </p>
    </div>
</div>