.navbar {
    background: rgb(32, 97, 158);
    border: 0px;
    border-bottom: 2px solid rgb(248, 123, 65);
    color: azure;
    margin-bottom: 0px;
    border-radius: 0px;
}

.navbar ul li {
    float: left;
    color: azure;
}

.nav>li>a {
    color: azure;
    padding: 0px 20px;
    height: 48px;
    line-height: 48px;
}

.nav>li>.active {
    background: rgb(248, 123, 65);
}

.nav>li {
    margin-bottom: 0px;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: transparent;
    color: rgb(248, 123, 65);
}