<div class="header">
    <div class="container">
        <div class="logo col-sm-2 col-xs-3"><img src="../../../assets/images/logo.png" alt="logo"></div>
        <div class="name  col-sm-7 col-xs-5 text-center">
            <h1 class=""><b>एक पहल</b> (EK PAHAL)</h1>
            <h4>Jawahar Navodaya Vidhyalaya Samiti</h4>
            <h4>जवाहर नवोदय विद्यालय समिति</h4>
        </div>
        <div class="flag col-sm-3 col-xs-4">
            <img src="../../../assets/images/flag.gif">
        </div>
    </div>
</div>