.header {
    background: rgba(255, 255, 255, 1);
}

.header>div>div {
    float: left;
}

.logo img {
    height: 130px;
    width: auto;
}

.flag img {
    width: auto;
    height: 130px;
    text-align: right;
}