<div class="box bot-mag-15">
    <div class="heads text-center">
        SignUp/Register

    </div>
    <form class="registerform">
        <div class="row ">
            <div class="col-md-6">
                <div class="form-group ">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="fname" id="name" aria-describedby="nameHelpId" placeholder="">
                    <small id="nameHelpId" class="form-text text-muted">Help text</small>
                </div>
                <div class="form-group ">
                    <label for="fathername">father's Name</label>
                    <input type="text" class="form-control" name="lname" id="fathername" aria-describedby="fathernameHelpId" placeholder="">
                    <small id="fathernameHelpId" class="form-text text-muted">Help text</small>
                </div>
                <div class="form-group gender">
                    <label for="email">Gender</label><br>
                    <input type="radio" name="gender" value="male"> Male
                    <input type="radio" name="gender" value="female"> Female
                    <input type="radio" name="gender" value="other"> Others
                </div>
                <div class="form-group ">
                    <label for="dob">Date of Birth</label>
                    <input type="date" class="form-control" aria-describedby="dobHelpId" placeholder="">

                </div>
                <div class="form-group ">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelpId" placeholder="">
                    <small id="emailHelpId" class="form-text text-muted">Help text</small>
                </div>

                <div class="form-group married">
                    <label for="fathername">Marital Status</label><br>
                    <input type="radio" name="gender" value="Married"> Married
                    <input type="radio" name="gender" value="Unmarried"> Unmarried
                </div>
            </div>
            <!-- part 2 -->
            <div class="col-md-6">
                <div class="form-group ">
                    <label for="degignation">Designation</label>
                    <input type="text" class="form-control" name="degignation" id="degignation" aria-describedby="degignationHelpId" placeholder="">
                    <small id="degignationHelpId" class="form-text text-muted">Help text</small>
                </div>
                <div class="form-group ">
                    <label for="bloodgroup">Blood Group</label>
                    <input type="text" class="form-control" name="bloodgroup" id="bloodgroup" aria-describedby="bloodgroupHelpId" placeholder="">
                    <small id="bloodgroupeHelpId" class="form-text text-muted">Help text</small>
                </div>

                <div class="form-group ">
                    <label for="jnvname">Which JNV</label><br>
                    <select>
                      <option value="State">State</option>
                    </select>
                    <select>
                        <option value="District">District</option>
                      </select>


                </div>
                <div class="form-group ">
                    <label for="caddress">Current Address</label>
                    <textarea class="form-control" name="caddress" id="caddress" aria-describedby="caddressHelpId" placeholder=""></textarea>
                    <small id="caddressHelpId" class="form-text text-muted">Help text</small>
                </div>

                <div class="form-group ">
                    <label for="paddress">Parmanent Address</label>
                    <textarea class="form-control" name="paddress" id="paddress" aria-describedby="paddressHelpId" placeholder=""></textarea>
                    <small id="paddressHelpId" class="form-text text-muted">Help text</small>
                </div>
            </div>

        </div>
        <div class="row buttons">
            <div class="col-xs-6"><button class="pull-right" type="reset">Reset</button></div>
            <div class="col-xs-6"><button class="pull-left" type="submit">Submit</button></div>
        </div>
    </form>

</div>