<div class="topbar">
    <div class="container">
        <div class="row">
            <ul class="pull-left">
                <li>+91-{{person.number}}</li>
                <li>{{person.email}}</li>
            </ul>
            <ul class="pull-right icons">
                <li>
                    <a href=""><img src="../assets/images/fb-01.svg"></a>
                </li>
                <li>
                    <a href=""><img src="../assets/images/gg-01.svg"></a>
                </li>
                <li>
                    <a href=""><img src="../assets/images/tw.svg"></a>
                </li>
                <li>
                    <a href=""><img src="../assets/images/In.svg"></a>
                </li>
            </ul>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <app-header></app-header>
    </div>
</div>

<div class="outer container">
    <div class="row">
        <app-navbar></app-navbar>
    </div>
    <div class="row">
        <marquee class="newsfeed">{{news}}</marquee>
    </div>
    <div class="row">
        <div class="sidebar col-md-3">
            <app-sidebar></app-sidebar>
        </div>

        <div class="home col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>

    <div class="row box moto text-center">
        <h4 class="pull-left">Unite, Work and Go Ahead !</h4>
        <h4 class="pull-right">एक जुट काम करो और आगे बढ़ो | |</h4>
    </div>

    <div class="row">
        <app-footer></app-footer>
    </div>
</div>